.scrollable-div {
    height: calc(100vh - 4rem);
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollable-div::-webkit-scrollbar {
    display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollable-div {
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
}

.react-datepicker__header {
    color: var(--text-primary-color) !important;
    background-color: var(--element-bg-color) !important;
}

.react-datepicker {
    color: var(--text-primary-color) !important;
    background-color: var(--element-bg-color) !important;
}

.react-datepicker__time{
    color: var(--text-primary-color) !important;
    background-color: var(--element-bg-color) !important;
}
