p {
    font-family: "Arial";
}

.backgroundSignUp {
    background-color: #ffffff;
}

.inputTextIon {
    border: 0.5px solid rgba(0, 0, 0, 0.25);
}

.signUpButtonIon {
    /* background: #f858a8;
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    --padding-end: 2rem;
    --padding-start: 2rem; */
    box-sizing: border-box;
    background: #14b8a6;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 0.75rem 2rem;
    color: #ffffff;
}

.loginButtonIon {
    --background: #ffffff;
}

.textGray {
    color: rgba(0, 0, 0, 0.5);
}

hr {
    border: 0.5px solid rgba(0, 0, 0, 0.15);
    width: 75%;
    margin: 0 auto;
}

.border {
    border: 0.5px solid rgba(0, 0, 0, 0.15);
}

.boxShadow {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
