.card{
    color: var(--text-primary-color) !important;
    background-color: var(--post-bg-color) !important;
    border-radius: 8px; 
    border: 0.5px solid var(--post-border-color) !important;
    box-shadow: 4px 4px 8px var(--element-shadow-color) !important;
}

.avatar{
    background-size: cover;
    background-position: top;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    min-height: 3rem;
    min-width: 3rem;
}

.hum-image-post{
    border-radius: 8px;
    width: 100%;
    height: auto;
    aspect-ratio: attr(width) / attr(height);
    margin-bottom: 1rem;
}

.post-icon{
    font-size: 20px;
    color:  var(--teal-lighter-color);
    cursor: pointer;
}