@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

body {
    background-color: var(--body-bg-color);
    color: var(--text-primary-color);
}

a {
    color: var(--text-primary-color);
}
