:root {
    --nav-height: 4rem;
}

.nav-height {
    height: var(--nav-height);
}

.padding-nav {
    padding-top: calc(var(--nav-height));
}

.min-height-nav {
    min-height: calc(100vh);
}

.z-nav {
    z-index: var(--z-index-nav);
}
