/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
    /* #region Border */
    --border-width: 0.25rem;
    --border-color: rgba(0, 0, 0, 0.15);
    --inline-color: rgba(0, 0, 0, 0.6);

    /* #region Project Custom color*/

    --body-bg-color: #fff;

    --white-color: #fff;

    --nav-bg-color: #fff;
    --nav-border-color: rgb(0 0 0 / 8%);

    --text-primary-color: #373f41;
    --text-secondary-color: rgba(55, 63, 65, 0.75);
    --text-tertiary-color: rgba(55, 63, 65, 0.5);

    --element-shadow-color: rgba(0, 0, 0, 0.15);
    --element-bg-color: #fff;

    --post-bg-color: #fff;
    --post-border-color: rgb(0 0 0 / 8%);
    --post-bg-hover-color: #f8f9fa;

    /* Theme color */

    --teal-darker-color: #0d9488;
    --teal-general-color: #14b8a6;
    --teal-lighter-color: #2dd4bf;

    /* Support color */

    --amber-darker-color: #d97706;
    --amber-general-color: #f59e0b;
    --amber-lighter-color: #fbbf24;

    --red-darker-color: #e11d48;
    --red-general-color: #f43f5e;
    --red-lighter-color: #fb7185;

    --blue-darker-color: #0891b2;
    --blue-general-color: #06b6d4;
    --blue-lighter-color: #22d3ee;

    --white-color: #fff;
    --black-color: #000;

    /* #endregion */

    /* Var */
    --z-index-nav: 69;
    --mobile-break-point: 1024px;
}

/* @media (prefers-color-scheme: dark) { */
/*
   * Dark Colors
   * -------------------------------------------
   */

/* body {
    
  }
} */
