/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {

  /* #region Project Custom color*/

  --body-bg-color: #fff;

  --nav-bg-color: #fff;
  --nav-border-color: rgb(0 0 0 / 8%);

  --text-primary-color: #373F41;
  --text-secondary-color: #737B7D;

  --element-shadow-color: rgba(0, 0, 0, 0.15);

  --post-bg-color: #fff;
  --post-border-color: rgb(0 0 0 / 8%);
  --post-bg-hover-color: #F8F9FA;

  /* Theme color */

  --teal-darker-color: #0f766e;
  --teal-general-color: #14b8a6;
  --teal-lighter-color: #5eead4;

  /* Support color */

  --amber-darker-color: #b45309;
  --amber-general-color: #f59e0b;
  --amber-lighter-color: #fbbf24;

  --red-darker-color: #b91c1c;
  --red-general-color: #ef4444;
  --red-lighter-color: #f87171;

  --blue-darker-color: #0369a1;
  --blue-general-color: #0ea5e9;
  --blue-lighter-color: #38bdf8;

  /* #endregion */

}

/* @media (prefers-color-scheme: dark) { */
  /*
   * Dark Colors
   * -------------------------------------------
   */

  /* body {
    
  }

} */
